@import "../../themes/ionic.globals";

:host {
  /**
   * @prop --background: Background of the tab bar
   * @prop --border: Border of the tab bar
   * @prop --color: Color of the tab bar
   */

  @include padding-horizontal(var(--ion-safe-area-left), var(--ion-safe-area-right));

  display: flex;

  align-items: center;
  justify-content: center;

  width: auto;

  padding-bottom: var(--ion-safe-area-bottom, 0);

  border-top: var(--border);

  background: var(--background);
  color: var(--color);

  text-align: center;

  contain: strict;
  user-select: none;
  z-index: $z-index-toolbar;

  /* stylelint-disable-next-line declaration-no-important */
  box-sizing: content-box !important;
}

:host(.ion-color) ::slotted(ion-tab-button) {
  --background-focused: #{current-color(shade)};
  --color-selected: #{current-color(contrast)};
  --color: #{current-color(contrast, .7)};
  --background: #{current-color(base)};
}

:host(.ion-color) {
  --color: #{current-color(contrast, .7)};
  --background: #{current-color(base)};
}

:host([slot="top"]) {
  padding-top: var(--ion-safe-area-top, 0);
  padding-bottom: 0;

  border-top: 0;
  border-bottom: var(--border);
}

:host(.tab-bar-hidden) {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
}
